/*
*****Colors*****
Main{color: #16325B;}
Sec {color: #227B94;}
Ter {color: #78B7D0;}
Acc {color: #FFDC7F;}

*****Fonts*****
Headers{font-family: Georgia, serif;}
Content{font-family: Arial, sans-serif;}
*/
body{
    background-color: #16325B;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1,h2,h3 {
    font-family: Georgia, serif;
}






/*****Header/Nav*****/
.logo{
    text-align: center;
}
nav{
    background-color: #227B94;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1em 0 1em 0;
}

nav ul li{
    width: 180px;
    text-align: center;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
  }

nav ul li a:hover{
    color: #FFDC7F;
    text-decoration: underline;
    font-weight: bolder;
    transition: .5s;
    
  }

/*****Main Content*****/
main {
    margin: auto;
    width: 95%;
}

h2{
    background-color: #16325B;
    color: #FFDC7F;
    border-radius: 4px;
    border: solid 3px #FFDC7F;
    padding: 5px 0;
}

h2{
    text-align: center;
}

#contentWrapper{
    margin: auto;
    width: 450px;
    border-style: solid;
    border-width: 4px;
    border-color: #FFDC7F;
    border-radius: 15px;
    background-color: white;
}

.textWrapper{
    text-align: center;
    padding-bottom: 1em;
}

.collapsible{
    font-family: Georgia, serif;
    font-size: 1.5em;
    width: 90%;
    margin: auto;
    text-align: center;
    border: none;
    background-color: transparent;
    padding: 10px 5px;
    border-radius: 3px;
    
}

.collapsible:hover{
    background-color: lightgray;
    transition: .5s;
}

.collapsedContent {
    max-height: 0;
    margin: 0 auto 1em auto;
    padding-left: 10px;
    width: 90%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
    
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 .3em .1em 0;
    background-color: grey;
}

.down {
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: .5s;
  }

.up{
    border: solid #FFDC7F;
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    
    transition: .5s;
}


/*Forms*/
form{
    background-color: #227B94;
    color: white;
    border-style: solid;
    border-width: 4px;
    border-color: #FFDC7F;
    border-radius: 15px;
    padding: 1em;
    margin-bottom: 1em;
}

form label{
    margin-left: .2em;
}

form select{
    border-radius: 6px;
    width: 100%;
    padding: .2em .1em;
    font-size: 1.1em;
    margin: .3em 0 1em 0;
    border: solid 2px transparent;
}

form select:hover{
    border: solid 2px #16325B;
    transition: .2s;
}

.buttonBox{
    text-align: center;
    margin-bottom: 1em;
}

form button{
    background-color: #16325B;
    border: solid 2px transparent;;
    color: #FFDC7F;
    border-radius: 6px;
    padding: .5em 1em;
    
}

form button:hover{
    background-color: #78B7D0;
    color: black;
    transition: .3s;
}

form button:active {
    border-style: solid;
    border-width: 2px;
    border-color: #FFDC7F;
}

#clearAnswers{
    width: 80%;
    color: white;
    background-color: rgb(124, 2, 2);
    border-style: solid;
    border-width: 3px;
    border-color: #FFDC7F;
    padding: .3em 0;
}

#clearAnswers:hover {
    border-color: red;
    color: #FFDC7F;
    transition: .5s;
}

#clearAnswers:active {
    background-color: #FFDC7F;
    color: rgb(124, 2, 2);
}

.formAlert{
    color: rgb(124, 2, 2);
    font-weight: bolder;
    border: solid 2px red;
    background-color: #FFDC7F;
    padding: .2em;
    margin-bottom: 1em;
    text-align: center;
}

/*****Footer*****/
footer{
    padding: 1em;
    font-size: .7em;
}

/*****BreedList Page*****/
.breedList{
    list-style-type: none;
    padding: 0;
}

.breedList li{
    width: 90%;
    padding: 1em;
    background-color: #227B94;
    border: solid 3px #FFDC7F;
    border-radius: 4px;
    margin-bottom: 10px;
    
}

.breedList li:hover{
    border-color: #16325B;
    background-color: #78B7D0;
    transition: .3s;
}

.breedList li a {
    text-align: center;
    color: #FFDC7F;
    
}

.breedList li a img{
    max-width: 100%;
    border-radius: 4px;
}

/*CardFlips*/
.breedCard h3{
    background-color: #227B94;
    border-radius: 4px;
    padding: 3px 0;
}
.breedCard ul {
    list-style-type: none;
    padding: 0;
}

.breedCard ul li{
    border: none;
    margin: 5px auto;
    padding:  3px 0;
   
}

.breedCard ul li:hover{
    background-color: #227B94;
}
.flip-card {
    background-color: transparent;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flippedImage {
    width: 200px;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

  
/*****BreedInfo Page*****/
#breedInfoContainer img{
    max-width: 100%;
}

#factsContainer{
    background-color: #227B94;
    border: solid 3px #FFDC7F;
    border-radius: 4px;
    color: #FFDC7F;
    
}

#factsContainer h3{
    margin-top: 20px;
    margin-left: 15px;
}

#factsContainer li{
    margin-top: 5px;
    margin-left: 15px;
}


/*****Large Screens*****/
@media only screen and (min-width: 1028px) {
    #contentWrapper{
        width: 900px;
    }
    /*MainPage*/
    .formBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    #userPreferenceForm {
        height: fit-content;
    }

    #clearBox {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    /*Breed List Page*/
    .breedList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    #incompleteFormMessage{
        text-align: center;
    }

    #matchMessage{
        text-align: center;
    }
    /*Info Page*/
    #breedInfoContainer{
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: 10px;
    }

    #breedInfoContainer h2{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;      
    }

    #factsContainer{
        height: 100%;
    }

    #factsContainer ul{
        padding: 0 0 0 18px; 
    }

    #factsContainer ul li{
        margin-top: 20px;   
    }

    #breedDescriptionContainer{
        grid-column-start: 1;
        grid-column-end: 3;
    }


}